# The ID of your GitHub App
APP_ID=

# The private key for your GitHub App (PEM format, single line with \n separators)
# This can either be the actual private key or a path to a file containing the private key.
# PRIVATE_KEY=
PRIVATE_KEY_FILE=

WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# GitHub PAT token used by the dittobot CLI commands (approve, list, pending, scan, etc.)
GITHUB_PAT_TOKEN=

########## DittoBot specific configuration ##########
# If set to true, PRs will only be merged if the versions in the PR exactly match versions in the approval store.
# If set to false, PRs will be merged if the versions in the PR are less than or equal to the versions in the approval store.
# DITTOBOT_STRICT_VERSIONS=true

### STORES ###
# The DITTOBOT_STORE__TYPE variable determines which store implementation to use.

### GitHub Store ###
# Stores approvals in a GitHub repository as JSON files.
# DITTOBOT_STORE__TYPE=github
# DITTOBOT_STORE__DEFAULT_REPO=owner/repo

### Local JSON File Store ###
# Stores approvals in a local JSON file.
# This is useful for development and testing, but not recommended for production use.
# DITTOBOT_STORE__TYPE=local
# DITTOBOT_STORE__PATH=/path/to/data/

### Memory Store ###
# Stores approvals in memory. This means that all approvals will be lost when the bot restarts.
# This is useful for testing, but not recommended for production use.
# DITTOBOT_STORE__TYPE=memory
