# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

########## DittoBot specific configuration ##########
# If set to true, PRs will only be merged if the versions in the PR exactly match versions in the approval store.
# If set to false, PRs will be merged if the versions in the PR are less than or equal to the versions in the approval store.
# DITTOBOT_STRICT_VERSIONS=true

### STORES ###
# The DITTOBOT_STORE__TYPE variable determines which store implementation to use.

### GitHub Store ###
# Stores approvals in a GitHub repository as JSON files.
# DITTOBOT_STORE__TYPE=github
# DITTOBOT_STORE__REPO=owner/repo

### Local JSON File Store ###
# Stores approvals in a local JSON file.
# This is useful for development and testing, but not recommended for production use.
# DITTOBOT_STORE__TYPE=local
# DITTOBOT_STORE__PATH=/path/to/data/

### Memory Store ###
# Stores approvals in memory. This means that all approvals will be lost when the bot restarts.
# This is useful for testing, but not recommended for production use.
# As no config file exists for this store, values are set via environment variables.
# DITTOBOT_STORE__TYPE=memory
# DITTOBOT_STORE__ORG=owner
# DITTOBOT_STORE__ENROLLED_REPOS=repo1,repo2,repo3
# DITTOBOT_STORE__MERGE_STRATEGY=squash
# DITTOBOT_STORE__REQUIRE_CI=true
